body { 
  background: url(../images/deathStar.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#quiz-container {

	padding: 10px;
	margin-bottom: 30px;
	font-family: 'Press Start 2P', cursive;
}